:root { 
    --Pale-Violet-sub-heading: hsl(276, 100%, 81%);
    --Moderate-Violet-left: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet-right: hsl(271, 15%, 43%);
    --Grayish-Blue-text: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-main-heading: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);

    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);


    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet-button-background: hsl(271, 36%, 24%);
    --Very-Light-Magenta-outline: hsl(289, 100%, 72%);
}
body { 
    margin: 0;
    position: relative;
    font-family: 'Rubik', sans-serif;
}
.back { 
    position: absolute;
    left: -20vw;
    top: 0;
    width: 550px;
    height: 80vh;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 350px;
    background-image: linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
}
@media (max-width: 767px)  {
    .back {
        left: -250px;
        width: 450px;
    }
}
main.main { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: var(--Light-Grayish-Violet-app-background);
}
@media (max-width: 767px) { 
    main { 
        flex-direction: column;
    }
}
main .left { 
    background-color: white;
    width: 300px;
    z-index: 1;
    border-radius: 25px;
    padding: 10px;
    position: relative;
}

main .left .maininfo { 
    position: relative;
    background-color: var(--Light-Grayish-Violet-app-background);
    padding: 20px 10px;
    overflow: hidden;
}
main .left .maininfo .img-holder { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 4;
    position: relative;
    
}
main .left .maininfo .img-holder img { 
    width: 50px;
    margin-left: 9px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #ddd;
}

main .left .maininfo .chat-left { 
    width: 70%;
    background-color: var(--Light-Grayish-Violet-app-background);
    padding: 10px;
    border-radius: 1rem;
    margin-top: -10px;
    color: var(--Very-Light-Magenta-outline);
    box-shadow: 0 0 10px 2px #ddd;
    position: relative;
    line-height: 1;
}
main .left .maininfo .chat-left::before { 
    content: "";
    position: absolute;
    left: -11px;
    bottom: 6px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent var(--Light-Grayish-Violet-app-background) transparent transparent;
}
main .left .maininfo .chat-right { 
    width: 70%;
    background-color: var(--Light-Grayish-Violet-app-background);
    padding: 10px;
    border-radius: 1rem;
    margin-top: 0px;
    box-shadow: 0 0 10px 2px #ddd;
    color: black;
    position: relative;
}
main .left .maininfo .chat-right::before { 
    content: "";
    position: absolute;
    right: -11px;
    bottom: 6px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--Light-Grayish-Violet-app-background);
}
.right-flex { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.roll { 
    background-image: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 1rem;
    margin-top: 10px;
    box-shadow: 0 0 10px 2px #ddd;
    display: flex;
    justify-content: space-between;
}
.roll .empty { 
    border: 1px solid red;
    background-color: transparent;
    margin-left: -3px;
}
.roll label { 
    text-align: start;
    margin-left: -50px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Grayish-Blue-text);
}
.roll span { 
    font-weight: 700;
    margin-left: -10px;
    margin-right: 6px;
}




main .left header { 
    background-image: linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 6px; 
    border-bottom-left-radius: 6px;
    position: relative;
    padding: 20px 0px;
}
main .left header::after { 
    content: "";
    position: absolute;
    height: 40%;
    width: 50%;
    background-color: white;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}
main .left header i.icleft { 
    margin-left: -50px;
    cursor: pointer;
}
main .left header i.icright{ 
    margin-right: -32px;
    cursor: pointer;
}
main .left header img { 
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -40px;
}
main .left header .info { 
    margin-left: -50px;
}
main .left header .info h3 { 
    margin-top: 5px;
    margin-bottom: -20px;
    font-size: 18px;
    color: var(--Light-Grayish-Violet-app-background);
}
main .left header .info p { 
    margin-bottom: -1px;
    font-weight: 400;
    font-size: 16px;
    color: var(--Dark-Grayish-Violet-paragraph);
}



main .left input.type { 
    width: 85%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
}

main .left input::placeholder {
    color: var(--Light-Grayish-Violet-app-background);

}
main .left input:focus { 
    border: 1px solid blue;
}
main .left input:focus::placeholder {
    color: black;
}
main .left i.icgo { 
    position: absolute;
    right: 11px;
    bottom: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}









main .right { 
    background-color: blue;
    z-index: 1;
}